<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>PG5 Main Page</title>
	<link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
	{{{body}}}
	
	<div class="sit">
	<li><a href="/siteAdmin" id="siteA">Contact Site Administrator</a></li>
        </div>
</body>
</html>
