<h1>List of articles saved:</h1>
<ul>
  {{#each savedArticle}}
    <li>{{this.title}}</li>
      <ul>
        <li><a href="">{{this.url}}</a></li>
      </ul>
  {{/each}}
</ul>

<button id = "log-button" onclick=navLog()>Logout</button>

<script>
	var navLog = function (){
			window.location.href="/logout";
	}
</script>
