<h1>List of articles:</h1>
<ul>
  {{#each articles}}
    <li>{{this.title}}</li>
      <ul>
        <li><a href="">{{this.url}}</a></li>
      </ul>
  {{/each}}
</ul>

<div class="sit">
	<li><a href="/siteAdmin" id="siteA">Contact Site Administrator</a></li>
</div>


