<h1>List of articles:</h1>
<ul>
  {{#each articles}}
    <li>{{this.title}}</li>
      <ul>
        <li>{{this.url}}</li>
      </ul>
  {{/each}}
</ul>

<div> 
  <button onclick="window.location.href='/article-saved'">Saved Article List</button>
</div>
