<h1>List of articles:</h1>
<ul>
  {{#each articles}}
    <li>{{this.title}}</li>
      <ul>
        <li>{{this.url}}</li>
      </ul>
  {{/each}}
</ul>

<div> 
  <button id="see-saved-btn" onclick=goToSaved()>Saved Article List</button>
</div>

<script>
	var goToSaved = function (){
			window.location.href="/article-saved";
	}
</script>
