<title>PG5 Industries</title>

<body>
<h2>Welcome to PG5 Industries Home: Fake News Filtering System.</h2>
	<fieldset>
		<legend>Login Options</legend>
		<button onclick=navLog()>Login</button>
		<button onclick=navSign()>Sign up</button>
	</fieldset>
<script src="navigate.js" type="text/javascript"></script>

</body>	

</html>