<title>PG5 Industries</title>

<body>
<h2>Welcome to PG5 Industries Home: Fake News Filtering System.</h2>
	<fieldset>
		<legend>Login Options</legend>
		<button onclick=navLog()>Login</button>
		<button onclick=navSign()>Sign up</button>
	</fieldset>

<script>
	var navLog = function (){
			window.location.href="/login";
	}
	var navSign = function() {
			window.location.href="signUp.html";
	}
</script>

</body>	

</html>
