<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>The Home Page</title>
 </head>
<body>
  <h1>Site Map</h1>
  <ul>
    <li><a href="/article-table">Article Table</a></li>
  </ul>
</body>
