<title>PG5 login</title>

<form action="/verify-login" method="post">
  <label for="uid">Username:</label>
  <input id="uid" type="text" name="uid">
  <label for="password">Password:</label>
  <input id="password" type="text" name="password">
  <input type="submit" value="Login">
</form>