<title>PG5 login</title>

<div>
  {{error}}
</div>

<div class="loginposition">
  <form action="/verify-login" method="post">
    <div>
      <label for="uid">Username:</label>
      <input id="uid" type="text" name="uid">
    </div>
    <div>
      <label for="password">Password:</label>
      <input id="password" type="password" name="password">
    </div>
    <div class= "submitbutton">
      <input style="transform: scale(1.5);" type="submit" value="Login">
    </div>
  </form>
</div>
