<title>Site Administrator | PG5 Industries</title>
<h2>Welcome to the Administrator's Page.</h2>

<h3>Contact Information</h3>
Mr. Joe Shmoe
PG5 Industries 1-(800)Joe-help
<li><a href="mailto:Joe.Shmoe@gmail.com" diabled>Site Administrator's Email Address</a></li>

<p>We hope your experience with our product has been positive, 
   but we understand that you may be experiencing an issue,
   so we've included the form below</p></br>

<form action="mailto:Joe.Shmoe@gmail.com" type="POST">
	<fieldset id="innerSet">
	<legend>Please fill out the form below</legend>
	<input type="text" value="Username">
	<input type="password" value="Password">
	
		<fieldset>
			<legend>Complaint Type</legend>
			<input type="radio" id="otherUser" value="report other user">
			<label for="otherUser">other user</label>
			
			<input type="radio" id="inaprop" value="inappropriate conduct">
			<label for="inaprop">inappropriate conduct</label>
			
			<input type="radio" id="tech" value="technical">
			<label for="tech">technical</label>
			
			<input type="text" id="description" minlength=4 maxlength=1000 required>
			<label for="description">description</lable>
			
		</fieldset>
		<input type="submit" value="send report" disabled>
	</fieldset>
</form>