<title>Site Administrator | PG5 Industries</title>
<h2>Welcome to the Administrator's Page.</h2>

<h3>Contact Information</h3>
Mr. Joe Shmoe
PG5 Industries 1-(800)Joe-help
<li><a href="mailto:Joe.Shmoe@gmail.com" id="joeMail" diabled>Site Administrator's Email Address</a></li>

<p>We hope your experience with our product has been positive, 
   but we understand that you may be experiencing an issue,
   so we've included the form below</p></br>

<fieldset id="outerSet">
	<legend>Please fill out the form below</legend>
	
	<form action="mailto:Joe.Shmoe@gmail.com" type="POST">
	
		<label for="username">Username</label>
		<input type="text" name="username" minlength="4" maxlength="50" required>
	
		<label for="myPW">password</label>
		<input type="password" name="myPW" minlength="8" required>
			
		<div>
			<label for="otherUser">other user</label>
			<input type="radio" id="otherUser" value="report other user">
		</div>
		<div>
			<label for="inaprop">inappropriate conduct</label>
			<input type="radio" id="inaprop" value="inappropriate conduct">
		</div>
		<div>
			<label for="tech">technical</label>
			<input type="radio" id="tech" value="technical">
		</div>
		<div>			
			<label for="description">description</label>
			<input type="text" id="description" minlength="4" maxlength="1000" required>
		</div>
	

	<p><input type="submit" value="send report" disabled></p>
	</form>
	
</fieldset>
